{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Welcome to Angular App By Suraj</h1>

  <app-root id="myapp">

  </app-root>

  <script type="text/javascript" src="{% static 'front-end/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/main.js' %}"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>

      <script>
    function onSignIn(googleUser) {
      console.log("SIraj");
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  var email=profile.getEmail();
  document.getElementById('currentemail').innerHTML=email;

   // This is null if the 'email' scope is not present.
}
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


{% endblock %}